name: check
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  fmt-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Check Nix formatting
        run: nix fmt -- --check .
      - name: Run pre-commit checks
        run: nix flake check -L
