name: update-sources
on:
  schedule:
    - cron: '0 * * * *' # Run every hour
  workflow_dispatch:
jobs:
  update-sources:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: ./update
      - run: "git config user.email 41898282+github-actions[bot]@users.noreply.github.com"
      - run: "git config user.name github-actions[bot]"
      - run: "git add -A"
      - run: "git diff --staged --quiet || git commit -m 'chore: update sources.json'"
      - run: "git push -u origin main"
