name: update-sources
on:
  schedule:
    - cron: '0 * * * *' # Run every hour
  workflow_dispatch:
jobs:
  update-sources:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: ./update
      - run: "git config user.email 41898282+github-actions[bot]@users.noreply.github.com"
      - run: "git config user.name github-actions[bot]"
      - run: "git add -A"
      - run: "git diff --staged --quiet || git commit -m 'chore: update sources.json'"
      - run: "git push -u origin main"
